.myProfile h1 {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.imgWrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user h2 {
  font-size: 1.2rem;
}

.myProfile h3 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #8a8a8a;
}

.user * {
  margin: 5px;
}
.btnWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}


.myProfileEditContainer {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.myProfileEditContainer h2 {
  text-align: center;
}

.myProfileEditContainer * {
  width: 100%;
}

.myProfileImage {
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}