.orderHistoryItemContainer {
  box-shadow: inset 0px 0px 3px 1px rgb(0, 38, 255);
  background-color: #767676;
  border-radius: 10px;
  display: flex;
}

.imgWrapper {
  overflow: hidden;
  width: 132px;
  height: 85px;
  background-color: red;
  border-radius: 10px;
}

img {
  width: 100%;
}

.orderHistoryListContainer {
  padding: 10px;
  background-color: var(--color-primary-600);
}

.orderHistoryListContainer ul {
  display: flex;
}

.orderHistoryListContainer ul li {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-badge);
  flex: 1;
  text-align: center;
}
