.slideBarContainer {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 80px;
}

.logoWrapper p {
  align-self: flex-end;
  font-weight: 800;
  font-size: 35px;
  margin: 0 20px;
  color: var(--color-primary-600);
}

.imgWrapper {
  width: 80px;
}
.imgWrapper img {
  width: 100%;
}

.etc {
  color: var(--color-primary-500);
  text-align: center;
  font-size: 12px;
}
