.slideBarContainer {
  /* display: flex;
  flex-direction: column; */
  padding: 0 50px;
  margin-top: 150px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWrapper p {
  align-self: flex-end;
  font-weight: 800;
  font-size: 35px;
  margin: 0 20px;
  color: var(--color-primary-600);
}

.logoImgWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.imgWrapper {
  display: flex;
  width: 80px;
  padding-top: 20px;
}
.imgWrapper img {
  width: 100%;
}

.etc {
  color: var(--color-primary-500);
  text-align: center;
  font-size: 12px;
  margin: 20px;
}
