.OrderHistoryDetailListContainer * {
  font-size: 16px;
}

.OrderHistoryDetailListContainer {
  box-shadow: inset 0px 0px 3px 1px rgb(0, 38, 255);
}

.OrderHistoryDetailContainer {
  display: flex;
}

.OrderHistoryDetailContainer .imgWrapper {
  width: 150px;
}

.OrderHistoryDetailContainer .imgWrapper img {
  width: 100%;
}
