.orderHistoryDetailListContainer {
  padding: 10px;
  background-color: var(--color-primary-600);
}

.orderHistoryDetailListContainer ul {
  display: flex;
}

.h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 50px 0;
}

.orderHistoryDetailListContainer ul li {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-badge);
  flex: 1;
  text-align: center;
}
