.link-to-detail:hover > .container {
  transform: scale(1.02);
  cursor: pointer;
}

.container {
  display: flex;
  gap: 10px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.product-period {
  display: flex;
  flex-direction: column;
}

.product-imgBox {
  flex: 0.8;
  border-radius: 20px;
  width: 250px;
  height: 100px;
  overflow: hidden;
}

.product-imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
}

.product-info h4 {
  font-size: 18px;
  font-weight: 600;
}

.product-price {
  font-weight: 700;
  color: var(--color-primary-600);
  text-align: end;
}
