.link-to-detail:hover > .container {
  background-color: var(--color-primary-200);
  transform: scale(1.02);
  cursor: pointer;
}

.container {
  display: flex;
  gap: 10px;

  margin: 20px auto;
  padding: 20px;
  height: 150px;
  border: 1px solid var(--color-primary-600);
  border-radius: 10px;
}

.product-imgBox {
  flex: 1;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid var(--color-primary-600);
}

.product-imgBox img {
  width: fit-content;
}

.product-info {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-price {
  font-weight: 700;
  color: var(--color-primary-600);
  text-align: end;
}
