.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 400px;
}

.containerMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container button {
  border-radius: 10px;
  background-color: var(--color-primary-600);
  color: var(--color-white);
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.container h2 {
  text-align: center;
  font-family: inherit;
  font-size: 30px;
  color: var(--color-primary-800);
}

.product-utils {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  padding: 15px 0;
  border-bottom: 2px solid var(--color-primary-600);
}

.product-list {
  overflow-y: scroll;
}

.product-list > p {
  margin: 100px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-primary-400);
}
