.container {
  display: flex;
  flex-direction: column;
  /* transform: translateY(25%); */
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.container h1 {
  margin: 20px;
  font-size: 40px;
}

.container img {
  width: 800px;
  height: 500px;
}
