.container {
  /*홈 컨테이너 높이 세팅*/
  display: flex;
  overflow: hidden;
}

.leftSideBar {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 30px; */
}
.logo {
  display: flex;
  gap: 10px;
  margin-top: 150px;
}
.logo p {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-primary-600);
  vertical-align: baseline;
}
.logo img {
  width: 30px;
  height: 30px;
}
.searchBar {
  width: 100%;
  text-align: center;
}

.main {
  flex: 3;
}

.rightSideBar {
  flex: 1;
}
