.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background-color: var(--color-primary-600);
}

.title {
  font-family: inherit;
  font-size: 40px;
  font-weight: 900;
  color: var(--color-white);

  margin-top: 30px;
}
