.wrapper {
  width: 100%;
}

.util-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.util-box img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.util-box p {
  color: var(--color-primary-600);
  font-weight: 700;
  font-size: 20px;
}

.wrapper button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-primary-600);
  color: var(--color-white);
  cursor: pointer;
}
