.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  gap: 14px;
  cursor: pointer;
}

.seller-info {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px;
}

.avatar-box {
  border: 2px solid var(--color-primary-400);
  border-radius: 50%;
}

.avatar-box img {
  width: 40px;
  height: 40px;
}

.wrapper .scrapBtn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-primary-600);
  cursor: pointer;
}
