/* 폰트 셋팅 - Google fonts */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

:root {
  margin: 0 auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-error-light: 600px;
  --color-error-light: #ce0000;
  --color-error-dark: #c11c0a;
  --main-max-width: 1000px;
  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #e6e9fe;
  --color-primary-200: #ccd4fc;
  --color-primary-300: #b0c0fb;
  --color-primary-400: #92abf9;
  --color-primary-500: #7098f6;
  --color-primary-600: #4285f4;
  --color-primary-700: #34579c;
  --color-primary-800: #212d4c;
  --color-primary-900: #161a28;

  --color-sub-100: #ffffc4;
  --color-sub-200: #ffffa6;
  --color-sub-300: #ffff86;
  --color-sub-400: #f9ff37;
  --color-sub-500: #cbd032;
  --color-sub-600: #9fa22c;
  --color-sub-700: #767725;
  --color-sub-800: #2a2913;

  /*기본 모드일때 컬러*/
  --color-black: #000;
  --color-white: #fff;

  --color-accent: #161a28;
  --color-bg: #e6e9fe;
  --color-bg-darker: #b0c0fb;
  --color-bg-footer: #fff;
  --color-bg-footer-hover: #e8f8fb;
  --color-bg-actived: #023e8a;
  --color-border: #161a28;
  --color-text: #4285f4;
  --color-text-actived: #fff;
  --color-text-hover: #34579c;
  --color-badge: #fff;

  --slide-width: 500px;
}

/*다크모드일때 컬러*/
html.dark {
  --color-accent: #495057;
  --color-bg: #212529;
  --color-bg-darker: #495057;
  --color-bg-footer: #343a40;
  --color-bg-footer-hover: #222;
  --color-bg-actived: #495057;
  --color-border: #f8f9fa;
  --color-text: #dee2e6;
  --color-text-actived: #fff;
  --color-text-hover: #adb5bd;
  --color-badge: #495057;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 링크 초기화 */
a,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-dark);
}

img {
  vertical-align: top;
  width: 100%;
}
