.container {
}

.container h2 {
  font-size: 40px;
  color: var(--color-primary-600);
}

.date-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.date-box label {
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-primary-800);
}

.date-box input {
  padding: 10px;
  border-color: var(--color-primary-500);
  border-radius: 20px;
}
.date-box input:focus {
  outline: none;
}

.active {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.active button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: var(--color-primary-600);
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
